<div class="row">
  <div class="col-6">
    <gdb-form>
      <gdb-control label="Event Number">
        <input type="number" [(ngModel)]="selectedEvent.number" />
      </gdb-control>

      <gdb-control label="Type">
        <label>
          <input type="radio" [(ngModel)]="selectedEvent.type" [value]="EventType.Road" />
          Road
        </label>
        <label>
          <input type="radio" [(ngModel)]="selectedEvent.type" [value]="EventType.City" />
          City
        </label>
      </gdb-control>

      <gdb-control label="Flavor Text">
        <textarea [(ngModel)]="selectedEvent.text"></textarea>
      </gdb-control>

      <gdb-control label="Image URL (Front)">
        <input type="text" [(ngModel)]="selectedEvent.imageUrl" />
      </gdb-control>

      <fieldset>
        <legend>Option A</legend>

        <gdb-control label="Choice A">
          <input type="text" [(ngModel)]="selectedEvent.optionA.choice" />
        </gdb-control>

        <gdb-control label="Choice A Image URL (Top Half)">
          <input type="text" [(ngModel)]="selectedEvent.optionA.imageUrl" />
        </gdb-control>

        <ng-container *ngFor="let optionAOutcome of selectedEvent.optionA.outcomes; let i = index">
          <fieldset>
            <legend>Option A Outcome {{ i + 1 }}</legend>

            <gdb-control label="Outcome A {{ i + 1 }} Text">
              <textarea [(ngModel)]="optionAOutcome.text"></textarea>
            </gdb-control>

            <gdb-control label="Outcome A {{ i + 1 }} Image URL">
              <input type="text" [(ngModel)]="optionAOutcome.imageUrl" />
            </gdb-control>

            <gdb-control label="Outcome A {{ i + 1 }} Lose Card?">
              <input type="checkbox" [(ngModel)]="optionAOutcome.loseCard" />
              Yes
            </gdb-control>
          </fieldset>
        </ng-container>

        <button
          [disabled]="selectedEvent.optionA.outcomes.length === 1"
          type="button"
          class="remove"
          (click)="removeOutcome(selectedEvent.optionA.outcomes)"
        >
          <fa-icon [icon]="'minus'"></fa-icon>
        </button>
        <button
          [disabled]="selectedEvent.optionA.outcomes.length >= 4"
          type="button"
          class="add"
          (click)="addOutcome(selectedEvent.optionA.outcomes)"
        >
          <fa-icon [icon]="'plus'"></fa-icon>
        </button>
      </fieldset>

      <fieldset>
        <legend>Option B</legend>

        <gdb-control label="Choice B">
          <input type="text" [(ngModel)]="selectedEvent.optionB.choice" />
        </gdb-control>

        <gdb-control label="Choice B Image URL (Top Half)">
          <input type="text" [(ngModel)]="selectedEvent.optionB.imageUrl" />
        </gdb-control>

        <ng-container *ngFor="let optionBOutcome of selectedEvent.optionB.outcomes; let i = index">
          <fieldset>
            <legend>Option B Outcome {{ i + 1 }}</legend>

            <gdb-control label="Outcome B {{ i + 1 }} Text">
              <textarea [(ngModel)]="optionBOutcome.text"></textarea>
            </gdb-control>

            <gdb-control label="Outcome B {{ i + 1 }} Image URL">
              <input type="text" [(ngModel)]="optionBOutcome.imageUrl" />
            </gdb-control>

            <gdb-control label="Outcome B {{ i + 1 }} Lose Card?">
              <input type="checkbox" [(ngModel)]="optionBOutcome.loseCard" />
              Yes
            </gdb-control>
          </fieldset>
        </ng-container>

        <button
          [disabled]="selectedEvent.optionB.outcomes.length === 1"
          type="button"
          class="remove"
          (click)="removeOutcome(selectedEvent.optionB.outcomes)"
        >
          <fa-icon [icon]="'minus'"></fa-icon>
        </button>
        <button
          [disabled]="selectedEvent.optionB.outcomes.length >= 4"
          type="button"
          class="add"
          (click)="addOutcome(selectedEvent.optionB.outcomes)"
        >
          <fa-icon [icon]="'plus'"></fa-icon>
        </button>
      </fieldset>
    </gdb-form>
  </div>
  <div class="col-6">
    <div>
      <img [src]="selectedEvent.imageUrl" />
    </div>
    <div>
      <img [src]="selectedEvent.optionA.imageUrl" />
    </div>
    <div>
      <img [src]="selectedEvent.optionB.imageUrl" />
    </div>

    <pre><code>{{ selectedEvent | json }}</code></pre>
  </div>
</div>
