It works! ish...

<!--<div class="row">-->
<!--  <div class="col-6">-->
<!--    <gdb-form>-->
<!--      <gdb-text-control label="Event Number">-->
<!--        <input type="number" [(ngModel)]="selectedEvent.number" />-->
<!--      </gdb-text-control>-->

<!--      <gdb-text-control label="Type">-->
<!--        <label>-->
<!--          <input type="radio" [(ngModel)]="selectedEvent.type" [value]="EventType.Road" />-->
<!--          Road-->
<!--        </label>-->
<!--        <label>-->
<!--          <input type="radio" [(ngModel)]="selectedEvent.type" [value]="EventType.City" />-->
<!--          City-->
<!--        </label>-->
<!--      </gdb-text-control>-->

<!--      <gdb-text-control label="Flavor Text">-->
<!--        <textarea [(ngModel)]="selectedEvent.text" type="text"></textarea>-->
<!--      </gdb-text-control>-->

<!--      <gdb-text-control label="Image URL (Front)">-->
<!--        <input type="text" [(ngModel)]="selectedEvent.imageUrl" />-->
<!--      </gdb-text-control>-->

<!--      <gdb-text-control label="Choice A">-->
<!--        <input [(ngModel)]="selectedEvent.optionA.choice" type="text" />-->
<!--      </gdb-text-control>-->

<!--      <gdb-text-control label="Choice B">-->
<!--        <input [(ngModel)]="selectedEvent.optionB.choice" type="text" />-->
<!--      </gdb-text-control>-->

<!--      <gdb-text-control label="Outcome A">-->
<!--        <textarea [(ngModel)]="selectedEvent.optionA.outcome" type="text"></textarea>-->
<!--      </gdb-text-control>-->

<!--      <gdb-text-control label="Outcome B">-->
<!--        <textarea [(ngModel)]="selectedEvent.optionB.outcome" type="text"></textarea>-->
<!--      </gdb-text-control>-->

<!--      <gdb-text-control label="Image URL (Back Top Half)">-->
<!--        <input [(ngModel)]="selectedEvent.optionA.imageUrl" type="text" />-->
<!--      </gdb-text-control>-->

<!--      <gdb-text-control label="Image URL (Back Bottom Half)">-->
<!--        <input [(ngModel)]="selectedEvent.optionB.imageUrl" type="text" />-->
<!--      </gdb-text-control>-->
<!--    </gdb-form>-->
<!--  </div>-->
<!--  <div class="col-6">-->
<!--    <div>-->
<!--      <img [src]="selectedEvent.imageUrl" />-->
<!--    </div>-->
<!--    <div>-->
<!--      <img [src]="selectedEvent.optionA.imageUrl" />-->
<!--    </div>-->
<!--    <div>-->
<!--      <img [src]="selectedEvent.optionB.imageUrl" />-->
<!--    </div>-->

<!--    <pre><code>{{ selectedEvent | json }}</code></pre>-->
<!--  </div>-->
<!--</div>-->
