<div class="row">
  <div class="col-6">
    <gdb-form>
      <gdb-control label="Event Number">
        <input type="number" [(ngModel)]="selectedEvent.number" />
      </gdb-control>

      <gdb-control label="Type">
        <label>
          <input type="radio" [(ngModel)]="selectedEvent.type" [value]="EventType.Road" />
          Road
        </label>
        <label>
          <input type="radio" [(ngModel)]="selectedEvent.type" [value]="EventType.City" />
          City
        </label>
      </gdb-control>

      <gdb-control label="Flavor Text">
        <textarea type="text" [(ngModel)]="selectedEvent.text"></textarea>
      </gdb-control>

      <gdb-control label="Image URL (Front)">
        <input type="text" [(ngModel)]="selectedEvent.imageUrl" />
      </gdb-control>

      <gdb-control label="Choice A">
        <input type="text" [(ngModel)]="selectedEvent.optionA.choice" />
      </gdb-control>

      <gdb-control label="Choice B">
        <input type="text" [(ngModel)]="selectedEvent.optionB.choice" />
      </gdb-control>

      <gdb-control label="Outcome A">
        <textarea type="text" [(ngModel)]="selectedEvent.optionA.outcome"></textarea>
      </gdb-control>

      <gdb-control label="Outcome B">
        <textarea type="text" [(ngModel)]="selectedEvent.optionB.outcome"></textarea>
      </gdb-control>

      <gdb-control label="Image URL (Back Top Half)">
        <input type="text" [(ngModel)]="selectedEvent.optionA.imageUrl" />
      </gdb-control>

      <gdb-control label="Image URL (Back Bottom Half)">
        <input type="text" [(ngModel)]="selectedEvent.optionB.imageUrl" />
      </gdb-control>
    </gdb-form>
  </div>
  <div class="col-6">
    <div>
      <img [src]="selectedEvent.imageUrl" />
    </div>
    <div>
      <img [src]="selectedEvent.optionA.imageUrl" />
    </div>
    <div>
      <img [src]="selectedEvent.optionB.imageUrl" />
    </div>

    <pre><code>{{ selectedEvent | json }}</code></pre>
  </div>
</div>
