<gdb-form>
  <form (ngSubmit)="login()">
    <gdb-control label="Email">
      <input [(ngModel)]="credentials.emailOrUsername" id="email" name="name" type="text" />
    </gdb-control>

    <gdb-control label="Password">
      <input [(ngModel)]="credentials.password" id="password" name="password" type="password" />
    </gdb-control>

    <div class="alert alert-error" *ngIf="error">
      {{ error }}
    </div>

    <button class="btn btn-primary" type="submit">Log in</button>
  </form>
</gdb-form>
