<gdb-form>
  <form (ngSubmit)="login()">
    <gdb-text-control
      name="Email"
      label="Email"
      type="email"
      [(ngModel)]="credentials.emailOrUsername"
    ></gdb-text-control>

    <gdb-text-control
      name="Password"
      label="Password"
      type="password"
      [(ngModel)]="credentials.password"
    ></gdb-text-control>

    <div class="alert alert-error" *ngIf="error">
      {{ error }}
    </div>

    <button class="btn btn-primary" type="submit">Log in</button>
  </form>
</gdb-form>
