@import '../../../styles/mixins';

:host {
  display: block;
}

.map {
  width: 6600px;
  height: 6600px;
  position: relative;
  transform-origin: top left;

  > * {
    user-select: none;
  }
}

.map-sticker {
  display: block;

  &.map-sticker-locked {
    filter: grayscale(100%);
  }
}

.sticker-wrapper-relative {
  position: relative;
}

.sticker-wrapper-absolute {
  position: absolute;
}

.focused-sticker {
  z-index: 2;
}

.transparent-sticker {
  opacity: 0.35;
}

code {
  display: inline-block;
  background: rgba(black, 0.3);
  color: white;
}

$numSize: 64px;
.sticker-number {
  cursor: pointer;
  z-index: 3;
  width: $numSize;
  height: $numSize;
  border-radius: 50%;
  transform: translate(-($numSize / 2), -($numSize / 2));
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

$checkSize: 24px;
.sticker-checkbox {
  cursor: pointer;
  z-index: 3;
  width: $checkSize;
  height: $checkSize;
  transform: translate(-($checkSize / 2), -($checkSize / 2));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: darkred;
  position: absolute;
}

.sticker-checkmark {
  background: white;
  border-radius: 50%;
  border: 3px solid white;
}

%zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  background: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 5px solid #333333;
  opacity: 0.8;
  font-size: 36px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  vertical-align: middle;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.zoom-in {
  left: 10px;
  bottom: 100px;
  @extend %zoom;
}

.zoom-out {
  left: 10px;
  bottom: 10px;
  @extend %zoom;
}
