<div class="map" [ngStyle]="{ backgroundImage: mapUrlCss, transform: transform }">
  <ng-container *ngFor="let sticker of stickers">
    <div
      class="sticker-wrapper-absolute"
      [ngClass]="{ 'focused-sticker': sticker.number === focusedSticker?.number }"
      [ngStyle]="{ top: sticker.mapPosition.top + '%', left: sticker.mapPosition.left + '%' }"
    >
      <div class="sticker-wrapper" [ngStyle]="{ width: sticker.width + 'px', height: sticker.height + 'px' }">
        <div
          class="sticker-number"
          (click)="numberClick(sticker)"
          [ngStyle]="{
            top: sticker.relativeNumberPosition.top + '%',
            left: sticker.relativeNumberPosition.left + '%'
          }"
        ></div>
        <div
          *ngIf="sticker.available"
          (click)="checkboxClick(sticker)"
          class="sticker-checkbox"
          [ngStyle]="{
            top: sticker.relativeCheckboxPosition.top + '%',
            left: sticker.relativeCheckboxPosition.left + '%'
          }"
        >
          <span class="sticker-checkmark" *ngIf="sticker.completed">
            <fa-icon [icon]="checkmarkIcon"></fa-icon>
          </span>
        </div>
        <img
          *ngIf="sticker.available"
          class="map-sticker"
          [ngClass]="{ 'map-sticker-locked': sticker.inaccessible }"
          (click)="stickerClick(sticker)"
          [src]="sticker.imageUrl"
          [alt]="sticker.name"
        />
      </div>
    </div>
  </ng-container>
</div>

<div class="zoom-in" (click)="zoomIn()" [ngClass]="{ disabled: zoom === maxZoom }">
  <fa-icon [icon]="largerIcon"></fa-icon>
</div>
<div class="zoom-out" (click)="zoomOut()" [ngClass]="{ disabled: zoom === minZoom }">
  <fa-icon [icon]="smallerIcon"></fa-icon>
</div>

<!--<pre><code>{{ currentPositions$ | async | json }}</code></pre>-->
<!--<pre><code>{{ stickers | json }}</code></pre>-->
