.idea
node_modules
dist
coverage
src/coverage
e2e/cypress/screenshots
e2e/cypress/videos
docker-compose.override.yml
docker-compose.production.yml
docker-compose.staging.yml
docker-compose.test.yml
docker-compose.yml
.gitlab-ci.yml
scratch
