<gdb-wip-banner-component></gdb-wip-banner-component>

<div class="content">
  <p>
    <a [routerLink]="'/'">
      <fa-icon [icon]="'arrow-circle-left'"></fa-icon>
      Back to Home
    </a>
  </p>

  <header>
    <h1>Items</h1>
  </header>

  <p>
    <button class="btn btn-secondary" (click)="showNames = !showNames">
      <span *ngIf="!showNames">
        Show (All)
      </span>
      <span *ngIf="showNames">
        Hide
      </span>
      Item Names
    </button>
  </p>

  <div class="grid">
    <div class="cell" *ngFor="let item of items">
      <a [routerLink]="[item.number]">
        #{{ item.number }}
        <span *ngIf="showNames"> - {{ item.name }} </span>
      </a>
    </div>
  </div>
</div>
