.content {
  padding: 20px;
}

.note {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  row-gap: 5px;
  column-gap: 5px;
  grid-auto-flow: column;
}

.cell {
  display: flex;
}

.copy-input {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0 none;
  width: auto;
  outline: none;
  color: currentColor;
  line-height: normal;
  font-weight: 300;

  &::selection {
    background-color: rgba(#ff9800, 0.3);
  }
}

.name {
  margin-left: 10px;
}
