<gdb-popup-container (backgroundClick)="close()" [isModal]="false">
  <div class="content">
    <div class="note">
      Click on an icon to copy its code to your clipboard.
      <em *ngIf="recentlyCopied">
        Copied <strong>{{ recentlyCopied }}</strong> to the clipboard!
      </em>
    </div>

    <div class="grid">
      <div class="cell" *ngFor="let icon of icons">
        <div class="icon pointer" (click)="copyToClipboard(icon, input)">
          <gdb-icon [icon]="icon"></gdb-icon>
        </div>
        <input
          readonly
          #input
          type="text"
          [size]="InvertedGloomhavenIcon[icon].length + 4"
          [value]="'{' + InvertedGloomhavenIcon[icon] + '}'"
          class="name copy-input"
        />
      </div>
    </div>
  </div>
</gdb-popup-container>
