@import 'variables';
@import 'mixins';

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='number'],
textarea {
  border: 2px solid #ccc;
  padding: 8px 10px;
  display: block;
  width: 100%;

  outline: none;
  box-shadow: none; // Override Firefox default invalid styles

  &.inline {
    position: relative;
    top: -6px;
  }

  &:focus {
    box-shadow: 0 0 3px rgba(#000, 0.3);
  }

  &.ng-invalid.ng-touched {
    border-color: #de5145;
  }
}

//input[type="radio"] {
//  display: inline-block;
//  margin-right: 5px;
//}

textarea {
  resize: vertical;
}

.control-group {
  display: flex;
  align-items: center;

  .control-addon {
    height: 100%;
    padding: 0 5px;
    //background: #ccc;
  }
}
