@import 'variables';
@import 'mixins';

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='number'],
textarea {
  border: 2px solid #ccc;
  padding: 8px 10px;
  display: block;
  width: 100%;

  &.inline {
    position: relative;
    top: -6px;
  }
}

//input[type="radio"] {
//  display: inline-block;
//  margin-right: 5px;
//}

textarea {
  resize: vertical;
}

.control-group {
  display: flex;
  align-items: center;

  .control-addon {
    height: 100%;
    padding: 0 5px;
    //background: #ccc;
  }
}
