<label
  class="input-label"
  [ngClass]="{ required: !(readonly$ | async) && (required$ | async), readonly: readonly$ | async }"
>
  {{ label$ | async }}
</label>
<div class="input-wrapper" [class.readonly]="readonly$ | async">
  <ng-container *ngIf="!(readonly$ | async)">
    <ng-content></ng-content>
    <ng-content select="[gdbHint]"></ng-content>
  </ng-container>
  <ng-container *ngIf="readonly$ | async">
    <ng-container *ngIf="readonlyTemplate">
      <ng-container [ngTemplateOutlet]="readonlyTemplate"></ng-container>
    </ng-container>
    <ng-container *ngIf="!readonlyTemplate">
      <gdb-text-with-icons [text]="stringValue$ | async"></gdb-text-with-icons>
    </ng-container>
  </ng-container>
</div>
