@import '../../../styles/mixins';

:host {
  display: block;
  padding: 0 20px 20px;
}

h1 {
  margin-top: 0;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 20px 20px 5px;
  background: #451a14;

  color: white;

  text-align: center;
}
$gap: 15px;

.filter-row {
  flex-wrap: wrap;
  display: flex;
  margin-left: -($gap + 5px);

  align-items: center;
  justify-content: center;

  .filter-col {
    padding-left: $gap + 5px;

    .filter-col-spacing {
      padding-bottom: 15px;
    }
  }
}

.price-filter {
  white-space: nowrap;
  color: white;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-left: -$gap;

  &__item {
    padding-left: $gap;

    //width: 50vm;
    //max-width: 250px;
    width: 100%;
    flex-basis: 250px;
    margin-bottom: $gap;

    cursor: pointer;

    @include breakpoint(520px) {
      flex-basis: 170px;
    }

    img {
      display: block;
      max-width: 100%;
    }

    &--empty {
      min-width: 250px + $gap;
      margin-bottom: 0;

      @include breakpoint(520px) {
        min-width: 170px + $gap;
      }
    }
  }
}

.clamp {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  overflow: hidden;

  @include breakpoint(520px) {
    width: 150px;
  }
}

.slot-picker-buttons {
  @include breakpoint(1440px) {
    display: none;
  }

  color: #333;
}

.slot-picker-dropdown {
  display: none;
  padding-bottom: 5px;
  @include breakpoint(1440px) {
    display: block;
  }
}

.sort-filter {
  white-space: nowrap;
}

.enlarged-item-background {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(black, 0.7);
}

.enlarged-item {
  color: white;
  font-size: 24px;
  display: flex;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  align-items: center;
  justify-content: center;

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
