<div class="split image-split">
  <img width="200" height="300" [src]="item.imageUrl" [alt]="item.name" />
</div>

<div class="split">
  <gdb-form [class.horizontal]="!editable">
    <gdb-text-control [readonly]="!editable" [label]="'Name'" [(ngModel)]="item.name"></gdb-text-control>

    <gdb-radio-control [readonly]="!editable" [label]="'Slot'" [(ngModel)]="item.slot">
      <gdb-radio-option *ngFor="let slot of slots" [value]="slot" [icon]="slot | enumToIcon"></gdb-radio-option>
      <ng-template #readonly>
        {{ item.slot }}
        <gdb-icon [icon]="item.slot | enumToIcon"></gdb-icon>
      </ng-template>
    </gdb-radio-control>

    <gdb-number-control
      *ngIf="item.uses || editable"
      [readonly]="!editable"
      [label]="'Uses'"
      [min]="1"
      [max]="5"
      [(ngModel)]="item.uses"
    >
      <ng-template #readonly>
        <gdb-icon [icon]="Icon.UseSlot"></gdb-icon>
        &times; {{ item.uses }}
      </ng-template>
    </gdb-number-control>

    <gdb-radio-control [readonly]="!editable" [label]="'Limit'" [(ngModel)]="item.limit">
      <gdb-radio-option
        *ngFor="let limit of limits"
        [value]="limit"
        [label]="limit === Limit.Unlimited ? '(Unlimited)' : undefined"
        [icon]="limit === Limit.Unlimited ? undefined : (limit | enumToIcon)"
      ></gdb-radio-option>

      <ng-template #readonly>
        {{ item.limit }}
        <gdb-icon *ngIf="item.limit !== Limit.Unlimited" [icon]="item.limit | enumToIcon"></gdb-icon>
      </ng-template>
    </gdb-radio-control>

    <gdb-number-control
      *ngIf="item.negativeCardsCount || editable"
      [readonly]="!editable"
      [label]="'-1 Cards'"
      [min]="1"
      [max]="5"
      [(ngModel)]="item.negativeCardsCount"
    >
      <ng-template #readonly>
        <gdb-icon [icon]="Icon.MinusOneAttackModifier"></gdb-icon>
        &times; {{ item.negativeCardsCount }}
      </ng-template>
    </gdb-number-control>

    <gdb-text-control
      type="textarea"
      rows="4"
      [preview]="true"
      [readonly]="!editable"
      [label]="'Text'"
      [(ngModel)]="item.text"
    >
      <small gdbHint>
        You can add icons to this field by using <strong>{{ '{' }}IconName}</strong>.<br />
        <a (click)="openListOfIconsPopup()">Show List of Icons</a>
      </small>
    </gdb-text-control>

    <gdb-number-control
      *ngIf="item.price || editable"
      [label]="'Price'"
      [readonly]="!editable"
      [min]="10"
      [max]="100"
      [step]="5"
      [(ngModel)]="item.price"
    ></gdb-number-control>

    <gdb-number-control
      *ngIf="item.count || editable"
      [label]="'Count'"
      [readonly]="!editable"
      [min]="1"
      [max]="4"
      [(ngModel)]="item.count"
    ></gdb-number-control>

    <gdb-radio-control
      class="block-radios"
      [readonly]="!editable"
      [label]="'Source'"
      [(ngModel)]="item.sourceType"
      (ngModelChange)="onSourceTypeChange()"
    >
      <gdb-radio-option *ngFor="let source of sources" [value]="source" [label]="source"></gdb-radio-option>
      <gdb-radio-option [value]="null" [label]="'Unknown?'"></gdb-radio-option>
      <ng-template #readonly>
        {{ item.sourceType }}
        <ng-container *ngIf="item.sourceType !== ItemSource.RandomItemDesign">
          {{ item.sourceId }}
        </ng-container>
      </ng-template>
    </gdb-radio-control>

    <gdb-number-control
      [label]="sourceIdLabel"
      [(ngModel)]="item.sourceId"
      *ngIf="editable && item.sourceType && item.sourceType !== ItemSource.RandomItemDesign"
    ></gdb-number-control>

    <gdb-checkbox-control [label]="'Verified'" [readonly]="!editable" [(ngModel)]="item.verified">
      I promise this is 100% accurate and there is no missing information.
    </gdb-checkbox-control>

    <ng-container *ngIf="editable">
      <gdb-text-control [readonly]="!editable" [label]="'Submitted By'" [(ngModel)]="submittedBy">
        <small gdbHint>(optional)</small>
      </gdb-text-control>
    </ng-container>

    <div *ngIf="editable">
      <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
      <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
    </div>
  </gdb-form>
</div>
