<div class="split image-split">
  <img width="200" height="300" [src]="item.imageUrl" [alt]="item.name" />
</div>

<div class="split">
  <div class="little-grid" [class.editable]="editable">
    <gdb-text-control [readonly]="!editable" [label]="'Name'" [(ngModel)]="item.name"></gdb-text-control>

    <gdb-radio-control [readonly]="!editable" [label]="'Slot'" [(ngModel)]="item.slot">
      <gdb-radio-option *ngFor="let slot of slots" [value]="slot" [icon]="slot | enumToIcon"></gdb-radio-option>
      <ng-template #readonly>
        {{ item.slot }}
        <gdb-icon [icon]="item.slot | enumToIcon"></gdb-icon>
      </ng-template>
    </gdb-radio-control>

    <gdb-number-control
      *ngIf="item.uses || editable"
      [readonly]="!editable"
      [label]="'Uses'"
      [min]="1"
      [max]="5"
      [(ngModel)]="item.uses"
    >
      <ng-template #readonly>
        <gdb-icon [icon]="Icon.UseSlot"></gdb-icon>
        &times; {{ item.uses }}
      </ng-template>
    </gdb-number-control>

    <gdb-radio-control [readonly]="!editable" [label]="'Limit'" [(ngModel)]="item.limit">
      <gdb-radio-option
        *ngFor="let limit of limits"
        [value]="limit"
        [label]="limit === Limit.Unlimited ? '(Unlimited)' : undefined"
        [icon]="limit === Limit.Unlimited ? undefined : (limit | enumToIcon)"
      ></gdb-radio-option>

      <ng-template #readonly>
        {{ item.limit }}
        <gdb-icon *ngIf="item.limit !== Limit.Unlimited" [icon]="item.limit | enumToIcon"></gdb-icon>
      </ng-template>
    </gdb-radio-control>

    <ng-container *ngIf="item.negativeCardsCount || editable">
      <div class="right">
        <strong>-1 Cards</strong>
      </div>
      <div>
        <ng-container *ngIf="!editable">
          <gdb-icon [icon]="Icon.MinusOneAttackModifier"></gdb-icon>
          &times; {{ item.negativeCardsCount }}
        </ng-container>

        <ng-container *ngIf="editable">
          <input type="number" class="inline" [(ngModel)]="item.negativeCardsCount" />
        </ng-container>
      </div>
    </ng-container>

    <gdb-text-control
      type="textarea"
      rows="4"
      [preview]="true"
      [readonly]="!editable"
      [label]="'Text'"
      [(ngModel)]="item.text"
    >
      <small gdbHint>
        You can add icons to this field by using <strong>{{ '{' }}IconName}</strong>.<br />
        <a (click)="openListOfIconsPopup()">Show List of Icons</a>
      </small>
    </gdb-text-control>

    <div class="right">
      <strong>Price</strong>
    </div>
    <div>
      <ng-container *ngIf="!editable">
        {{ item.price }}
      </ng-container>

      <ng-container *ngIf="editable">
        <input type="number" class="inline" step="5" max="100" min="10" [(ngModel)]="item.price" />
      </ng-container>
    </div>

    <div class="right">
      <strong>Count</strong>
    </div>
    <div>
      <ng-container *ngIf="!editable">
        {{ item.count }}
      </ng-container>

      <ng-container *ngIf="editable">
        <input type="number" class="inline" max="4" min="1" [(ngModel)]="item.count" />
      </ng-container>
    </div>

    <ng-container *ngIf="item.sourceType || editable">
      <div class="right">
        <strong>Source</strong>
      </div>
      <div>
        <ng-container *ngIf="!editable">
          {{ item.sourceType }}
          <ng-container *ngIf="item.sourceType !== ItemSource.RandomItemDesign">
            {{ item.sourceId }}
          </ng-container>
        </ng-container>

        <ng-container *ngIf="editable">
          <div *ngFor="let source of sources">
            <label>
              <input name="source" [value]="source" [(ngModel)]="item.sourceType" type="radio" />
              {{ source }}
              &nbsp;
            </label>
          </div>
          <div>
            <label>
              <input name="source" [value]="null" [(ngModel)]="item.sourceType" type="radio" />
              Unknown?
            </label>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="editable && item.sourceType && item.sourceType !== ItemSource.RandomItemDesign">
      <div class="right">
        <strong>
          <ng-container [ngSwitch]="item.sourceType">
            <ng-container *ngSwitchCase="ItemSource.Prosperity">
              Prosperity Level
            </ng-container>
            <ng-container *ngSwitchCase="ItemSource.Treasure">
              Scenario #
            </ng-container>
            <ng-container *ngSwitchCase="ItemSource.ScenarioReward">
              Scenario #
            </ng-container>
            <ng-container *ngSwitchDefault>{{ item.sourceType }} #</ng-container>
          </ng-container>
        </strong>
      </div>
      <div>
        <input type="number" class="inline" [(ngModel)]="item.sourceId" />
      </div>
    </ng-container>

    <div class="right">
      <strong>Verified</strong>
    </div>
    <div>
      <ng-container *ngIf="!editable">
        {{ item.verified ? 'Yes' : 'No' }}
      </ng-container>

      <ng-container *ngIf="editable">
        <label>
          <input type="checkbox" [(ngModel)]="item.verified" />
          I promise this is 100% accurate and there is no missing information.
        </label>
      </ng-container>
    </div>

    <ng-container *ngIf="editable">
      <gdb-text-control [readonly]="!editable" [label]="'Submitted By'" [(ngModel)]="submittedBy">
        <div gdbHint>(optional)</div>
      </gdb-text-control>
    </ng-container>

    <div *ngIf="editable">
      <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
      <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
