<gdb-wip-banner-component></gdb-wip-banner-component>

<div class="content">
  <h1>Future home of the Gloomhaven DB.</h1>

  <p>
    A few things are previewable so far, and some are close:
  </p>

  <p><a [routerLink]="['items']">Item List</a> (You can submit fixes... most items need minor updates to them.)</p>

  <p>
    <a href="/swagger">API Docs</a> (Not ready... more API is done than is documented, and much which is documented is
    not done!)
  </p>

  <p>
    Source Code: <a href="https://github.com/MatchbookLab/gloomhavendb">https://github.com/MatchbookLab/gloomhavendb</a>
  </p>
</div>
