<gdb-wip-banner-component></gdb-wip-banner-component>

<div class="content">
  <h1>Future home of the Gloomhaven DB.</h1>

  <p>
    A few things are previewable so far, and some are close:
  </p>

  <p><a [routerLink]="['items']">Item List</a> (You can submit fixes... most items need minor updates to them.)</p>

  <p>
    <a [routerLink]="['events']">Road and City Events</a> (Not quite ready to submit fixes... but when it is ready: I
    used a program to copy down the text from images and they all need minor to moderate cleanup.)
  </p>

  <p>
    <span style="text-decoration: line-through">
      <a href="/swagger">API Docs</a> (Not ready... more API is done than is documented, and much which is documented is
      not done!)
    </span>
  </p>

  <p>
    Source Code: <a href="https://github.com/MatchbookLab/gloomhavendb">https://github.com/MatchbookLab/gloomhavendb</a>
  </p>
</div>
