<ng-container *ngFor="let sticker of stickers">
  <div
    class="sticker-wrapper-absolute"
    [ngClass]="{ 'focused-sticker': sticker.id === focusedSticker?.id }"
    [ngStyle]="{ top: sticker.position.top + '%', left: sticker.position.left + '%' }"
  >
    <div class="sticker-wrapper" [ngStyle]="{ width: sticker.width + 'px', height: sticker.height + 'px' }">
      <div
        class="sticker-number"
        (click)="numberClick(sticker)"
        [ngStyle]="{ top: sticker.number.top + 'px', left: sticker.number.left + 'px' }"
      ></div>
      <div
        *ngIf="sticker.available"
        (click)="checkboxClick(sticker)"
        class="sticker-checkbox"
        [ngStyle]="{ top: sticker.checkbox.top + 'px', left: sticker.checkbox.left + 'px' }"
      >
        <span *ngIf="sticker.completed">&times;</span>
      </div>
      <img
        *ngIf="sticker.available"
        class="map-sticker"
        (click)="stickerClick(sticker)"
        [src]="sticker.imageUrl"
        [alt]="sticker.name"
      />
    </div>
  </div>
</ng-container>

<!--<pre><code>{{ currentPositions$ | async | json }}</code></pre>-->
<!--<pre><code>{{ stickers | json }}</code></pre>-->
