@import '../../styles/mixins';

:host {
  display: block;
  width: 6600px;
  height: 6600px;
  position: relative;
}

.map-sticker {
  display: block;
}

.sticker-wrapper-relative {
  position: relative;
}

.sticker-wrapper-absolute {
  box-shadow: 0 0 3px rgba(black, 0.5);
  position: absolute;
}

.selected-sticker {
  outline: 3px solid white;
  z-index: 1;
}

.transparent-sticker {
  opacity: 0.35;
}

code {
  display: inline-block;
  background: rgba(black, 0.3);
  color: white;
}

$numSize: 64px;
%num {
  z-index: 2;
  width: $numSize;
  height: $numSize;
  border-radius: 50%;
  transform: translate(-($numSize / 2), -($numSize / 2));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.num-rel {
  @extend %num;
  position: absolute;
  background: rgba(red, 0.5);
}

.num-abs {
  @extend %num;
  position: absolute;
  background: rgba(blue, 0.5);
}

$checkSize: 24px;
%check {
  z-index: 2;
  width: $checkSize;
  height: $checkSize;
  transform: translate(-($checkSize / 2), -($checkSize / 2));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}

.check-rel {
  @extend %check;
  position: absolute;
  background: rgba(red, 0.5);
}

.check-abs {
  @extend %check;
  position: absolute;
  background: rgba(blue, 0.5);
}
