@import '../../styles/mixins';

:host {
  display: block;
  width: 6600px;
  height: 6600px;
  position: relative;
}

.map-sticker {
  display: block;
}

.sticker-wrapper-relative {
  position: relative;
}

.sticker-wrapper-absolute {
  position: absolute;
}

.focused-sticker {
  z-index: 2;
}

.transparent-sticker {
  opacity: 0.35;
}

code {
  display: inline-block;
  background: rgba(black, 0.3);
  color: white;
}

$numSize: 64px;
.sticker-number {
  cursor: pointer;
  z-index: 3;
  width: $numSize;
  height: $numSize;
  border-radius: 50%;
  transform: translate(-($numSize / 2), -($numSize / 2));
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

$checkSize: 24px;
.sticker-checkbox {
  cursor: pointer;
  z-index: 3;
  width: $checkSize;
  height: $checkSize;
  transform: translate(-($checkSize / 2), -($checkSize / 2));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: darkred;
  position: absolute;
}
