<ng-container *ngFor="let mapLocation of stickers">
  <div
    class="num-abs"
    [ngStyle]="{ top: mapLocation.number.absolute.top + 'px', left: mapLocation.number.absolute.left + 'px' }"
  >
    {{ mapLocation.id }}
  </div>
  <div
    class="check-abs"
    [ngStyle]="{ top: mapLocation.checkbox.absolute.top + 'px', left: mapLocation.checkbox.absolute.left + 'px' }"
  >
    {{ mapLocation.id }}
  </div>
  <div
    class="sticker-wrapper-absolute"
    [ngClass]="{
      'selected-sticker': focusedSticker?.id === mapLocation.id,
      'transparent-sticker': (focusedSticker && focusedSticker.id !== mapLocation.id) || mapLocation.transparent
    }"
    [ngStyle]="{ top: mapLocation.position.top + '%', left: mapLocation.position.left + '%' }"
  >
    <div
      class="sticker-wrapper-relative"
      [ngStyle]="{ width: mapLocation.width + 'px', height: mapLocation.height + 'px' }"
    >
      <div
        class="num-rel"
        [ngStyle]="{ top: mapLocation.number.relative.top + 'px', left: mapLocation.number.relative.left + 'px' }"
      >
        {{ mapLocation.id }}
      </div>
      <div
        class="check-rel"
        [ngStyle]="{ top: mapLocation.checkbox.relative.top + 'px', left: mapLocation.checkbox.relative.left + 'px' }"
      >
        {{ mapLocation.id }}
      </div>
      <img
        class="map-sticker"
        (click)="stickerClick(mapLocation, $event)"
        [src]="mapLocation.imageUrl"
        [alt]="mapLocation.name"
      />
    </div>
  </div>
</ng-container>

<!--<pre><code>{{ currentPositions$ | async | json }}</code></pre>-->
<pre><code>{{ stickers | json }}</code></pre>
