:host {
  display: block;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 20px;
  background: #451a14;

  color: white;
}
$gap: 15px;

.filters {
  display: flex;
  margin-left: -$gap;

  align-items: center;

  .filter-section {
    padding-left: $gap;
  }
}

.price-filter {
  white-space: nowrap;
  color: white;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-left: -$gap;

  &__item {
    padding-left: $gap;

    //width: 50vm;
    //max-width: 250px;
    width: 100%;
    flex-basis: 250px;

    margin-bottom: $gap;

    img {
      display: block;
      max-width: 100%;
    }

    &--empty {
      height: 0;
      margin: 0;
    }
  }
}

.clamp {
  text-overflow: ellipsis;
  white-space: nowrap;
}
