<div #header class="fixed">
  <h1>Secret Shop</h1>

  <div class="filters">
    <div class="filter-section control-group">
      <div class="control-addon">
        <fa-icon [icon]="'search'"></fa-icon>
      </div>
      <input name="search" type="text" (input)="setSearchText(search.value)" #search />
    </div>

    <div class="filter-section slot-picker btn-group">
      <button type="button" class="btn" [ngClass]="{ 'btn-secondary': !filters.slot }" (click)="setSlot(null)">
        All
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{ 'btn-secondary': filters.slot === Slot.Head }"
        (click)="setSlot(Slot.Head)"
      >
        Head
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{ 'btn-secondary': filters.slot === Slot.Body }"
        (click)="setSlot(Slot.Body)"
      >
        Body
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{ 'btn-secondary': filters.slot === Slot.Legs }"
        (click)="setSlot(Slot.Legs)"
      >
        Legs
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{ 'btn-secondary': filters.slot === Slot.OneHand }"
        (click)="setSlot(Slot.OneHand)"
      >
        One Hand
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{ 'btn-secondary': filters.slot === Slot.TwoHands }"
        (click)="setSlot(Slot.TwoHands)"
      >
        Two Hands
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{ 'btn-secondary': filters.slot === Slot.SmallItem }"
        (click)="setSlot(Slot.SmallItem)"
      >
        Small Item
      </button>
    </div>

    <div class="price-filter filter-section">
      Max Price:
      <input
        type="range"
        multiple
        step="5"
        [min]="minPrice"
        [max]="maxPrice"
        [value]="maxPrice"
        (input)="setPrice(+price.value)"
        #price
        class="price-slider"
      />
      {{ filters.price }}
    </div>

    <div class="sort-filter filter-section">
      <button type="button" class="btn" [ngClass]="{ 'btn-secondary': filters.sort === 'id' }" (click)="setSort('id')">
        Number
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{ 'btn-secondary': filters.sort === 'price' }"
        (click)="setSort('price')"
      >
        Price
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{ 'btn-secondary': filters.sort === 'name' }"
        (click)="setSort('name')"
      >
        Name
      </button>
    </div>
  </div>
</div>

<div class="image-grid">
  <div class="image-grid__item" *ngFor="let item of shownItems">
    <div class="clamp">
      <strong>{{ item.id }}</strong> {{ item.name }}
    </div>

    <img [src]="item.imageUrl" [alt]="item.name" />
  </div>
  <div class="image-grid__item image-grid__item--empty"></div>
  <div class="image-grid__item image-grid__item--empty"></div>
  <div class="image-grid__item image-grid__item--empty"></div>
  <div class="image-grid__item image-grid__item--empty"></div>
  <div class="image-grid__item image-grid__item--empty"></div>
  <div class="image-grid__item image-grid__item--empty"></div>
  <div class="image-grid__item image-grid__item--empty"></div>
  <div class="image-grid__item image-grid__item--empty"></div>
  <div class="image-grid__item image-grid__item--empty"></div>
  <div class="image-grid__item image-grid__item--empty"></div>
</div>
