@import '../../../styles/mixins';

:host {
  width: 296px;
  height: 437px;
  text-align: center;
  padding: 104px 81px 94px 74px;
  display: flex;
  border-radius: 8px;
  background-image: url('/assets/creator-pack-v2/battle-goals/battle-goal-front.jpg');
  color: black;
  font-family: Fenix, 'Open Sans', serif;

  flex-direction: column;
  font-size: 19px;
  line-height: 22px;
}

.grow {
  flex-grow: 1;
}

.checks {
  position: relative;
  left: -5px;

  gdb-icon + gdb-icon {
    margin-left: 8px;
  }
}

h3 {
  font-size: 32px;
  font-family: 'Pirata One', 'Open Sans', serif;
  margin-top: 0;
  margin-bottom: 16px;
}

p {
  margin-top: 0;
  margin-bottom: 8px;
}
