@import '../../../styles/mixins';

:host {
  padding: 30px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  margin-top: 0;
  text-align: center;
}

h2 {
  margin-top: 0;
  text-align: center;
}

.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: scroll;
  height: 100%;
  width: 100%;
}

.content {
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .body {
    flex-grow: 1;
  }

  .footer {
  }
}

.button-spacing {
  margin-bottom: 15px;
}

button {
  display: block;
  width: 100%;
}

.battle-goal-wrapper {
  & + .battle-goal-wrapper {
    margin-top: 20px;
  }
}

gdb-battle-goal {
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(black, 0.3);

  &:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 8px rgba(black, 0.3);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}
