<div class="content">
  <div class="body">
    <h1>Secret Battle Goals</h1>

    <div class="button-spacing" *ngFor="let playerGoals of playersGoals; let i = index">
      <button class="btn" (click)="showPlayerGoal(playerGoals)">Show Player {{ i + 1 }}'s Goal</button>
    </div>

    <div class="button-spacing">
      <button class="btn btn-secondary" (click)="setupNewPlayer()">Add Player {{ playersGoals.length + 1 }}</button>
    </div>
  </div>

  <div class="footer">
    <button [disabled]="!playersGoals.length" class="btn btn-danger" (click)="resetBattleGoals()">
      Reset All Players' Goals
    </button>
  </div>
</div>

<div class="cover" *ngIf="pickingBattleGoals.length > 0">
  <div class="cover-container">
    <h2>Select Battle Goal</h2>

    <div class="battle-goal-wrapper" *ngFor="let battleGoal of pickingBattleGoals; let i = index">
      <gdb-battle-goal [battleGoal]="battleGoal" (click)="selectBattleGoal(battleGoal)"></gdb-battle-goal>
      <button type="button" class="btn" (click)="vetoGoal(i)" [disabled]="!canVeto">Veto</button>
    </div>
  </div>
</div>

<div class="cover" *ngIf="peekedGoal">
  <div class="cover-container">
    <gdb-battle-goal [battleGoal]="peekedGoal" (click)="dismissPlayerGoal()"></gdb-battle-goal>
  </div>
</div>
