:host {
  display: block;
}

.little-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 15px;

  border: 1px solid #666;
  padding: 20px;

  width: 530px;
}

.content {
  display: flex;

  padding: 30px;

  margin-left: -20px;
}

.right {
  text-align: right;
}

.section {
  padding-left: 20px;
}
