<div class="content">
  <div class="stats">
    <div class="little-grid">
      <div>
        <strong>Name</strong>
      </div>
      <div>
        {{ item.name }}
      </div>

      <div>
        <strong>Slot</strong>
      </div>
      <div>
        {{ item.slot }}
        <gdb-icon [icon]="item.slot | enumToIcon"></gdb-icon>
      </div>

      <ng-container *ngIf="item.uses">
        <div>
          <strong>Uses</strong>
        </div>
        <div>
          {{ item.uses }} &times;
          <gdb-icon [icon]="Icon.UseSlot"></gdb-icon>
        </div>
      </ng-container>

      <div>
        <strong>Limit</strong>
      </div>
      <div>
        {{ item.limit }}
        <gdb-icon *ngIf="item.limit !== Limit.Unlimited" [icon]="item.limit | enumToIcon"></gdb-icon>
        <gdb-icon *ngIf="item.limit === Limit.UseOncePerScenario" [icon]="Icon.LostOrConsumed"></gdb-icon>
      </div>

      <ng-container *ngIf="item.negativeCardsCount">
        <div>
          <strong>-1 Cards</strong>
        </div>
        <div>
          {{ item.negativeCardsCount }} &times;
          <gdb-icon [icon]="Icon.MinusOneAttackModifier"></gdb-icon>
        </div>
      </ng-container>

      <div>
        <strong>Text</strong>
      </div>
      <gdb-text-with-icons [text]="item.text"></gdb-text-with-icons>

      <div>
        <strong>Price</strong>
      </div>
      <div>
        {{ item.price }}
      </div>

      <div>
        <strong>Count</strong>
      </div>
      <div>
        {{ item.count }}
      </div>

      <ng-container *ngIf="item.sourceType">
        <div>
          <strong>Source</strong>
        </div>
        <div>{{ item.sourceType }} {{ item.sourceId }}</div>
      </ng-container>
    </div>
  </div>
  <div class="edit">
    <div class="little-grid">
      <div>
        <strong>Name</strong>
      </div>
      <div>
        {{ item.name }}
      </div>

      <div>
        <strong>Slot</strong>
      </div>
      <div>
        {{ item.slot }}
        <gdb-icon [icon]="item.slot | enumToIcon"></gdb-icon>
      </div>

      <ng-container *ngIf="item.uses">
        <div>
          <strong>Uses</strong>
        </div>
        <div>
          {{ item.uses }} &times;
          <gdb-icon [icon]="Icon.UseSlot"></gdb-icon>
        </div>
      </ng-container>

      <div>
        <strong>Limit</strong>
      </div>
      <div>
        {{ item.limit }}
        <gdb-icon *ngIf="item.limit !== Limit.Unlimited" [icon]="item.limit | enumToIcon"></gdb-icon>
        <gdb-icon *ngIf="item.limit === Limit.UseOncePerScenario" [icon]="Icon.LostOrConsumed"></gdb-icon>
      </div>

      <ng-container *ngIf="item.negativeCardsCount">
        <div>
          <strong>-1 Cards</strong>
        </div>
        <div>
          {{ item.negativeCardsCount }} &times;
          <gdb-icon [icon]="Icon.MinusOneAttackModifier"></gdb-icon>
        </div>
      </ng-container>

      <div>
        <strong>Text</strong>
      </div>
      <div>
        <textarea rows="3" style="width: 400px" type="text" [(ngModel)]="item.text"></textarea>
      </div>

      <div>
        <strong>Price</strong>
      </div>
      <div>
        {{ item.price }}
      </div>

      <div>
        <strong>Count</strong>
      </div>
      <div>
        {{ item.count }}
      </div>

      <ng-container *ngIf="item.sourceType">
        <div>
          <strong>Source</strong>
        </div>
        <div>{{ item.sourceType }} {{ item.sourceId }}</div>
      </ng-container>
    </div>
  </div>
  <div class="image">
    <img [src]="item.imageUrl" [alt]="item.name" />
  </div>
</div>
