<header>
  <h1>{{ header }}</h1>
</header>

<div class="content">
  <div class="right">
    <span class="pointer" (click)="editable = true"><fa-icon [icon]="'pencil-alt'"></fa-icon> Suggest Fix</span>
  </div>

  <gdb-item (submit)="submitFix($event)" [item]="item" [editable]="editable"></gdb-item>

  <tc-popup-container *ngIf="showDiffPopup" (backgroundClick)="closePopup()" [isModal]="false">
    <gdb-diff [objectA]="item" [objectB]="suggestedFixes[0]?.data"></gdb-diff>
  </tc-popup-container>

  <button class="btn" type="button" (click)="openPopup()">Open Popup</button>
</div>
