.content {
  display: block;

  padding: 30px;
}

.align-right {
  text-align: right;
}

:host gdb-popup-container ::ng-deep .popup-content {
  max-width: 87%;
  overflow-x: scroll;
}

.previous-suggestions {
  margin-bottom: 15px;
}

.nav {
  display: grid;
  margin-bottom: 16px;

  grid-template-columns: 1fr 1fr 1fr;

  .first-cell {
    justify-self: start;
  }

  .center-cell {
    justify-self: center;
  }

  .last-cell {
    justify-self: end;
  }
}
